In [1]:
print("hello world")

hello world

In [3]:
print("Todays date is", 29)

Todays date is 29

In [5]:
print("Todays date is",29, sep = '-')

Todays date is-29

In [6]:
print(1,2,3,4,5,6, sep = '\t')

1	2	3	4	5	6

In [7]:
print(1,2,3,4,5,6, sep = 'abc')

1abc2abc3abc4abc5abc6

In [8]:
print("hello world")
print("hello world")
print("hello world3")

hello world
hello world
hello world3

In [9]:
print("hello world", end = '\t')
print("hello world")
print("hello world3")

hello world	hello world
hello world3

### variables

 1. it is the named memory locattion which holds some values 

### properties of declaring aa variable 
1.it can contain A TO Z and a to z 0 to 9
2. it should not start with number 
3. no special charecters should be included in variable name except 
4. key words are not allowed

In [10]:
a = 10
A = 5

In [13]:
a = 55
_a = 2256
# 1a = 66
# a-b = 23+66
_ = 625
a9 = 'python'
a9_='APSSDC'

### Data types in python


primary data types->int, float, complex, string, booleans
secondary datatypes->containers->list, tuple, dictionary, set

In [17]:
a = 55
b = 55.66
c = 5 + 6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python',65, 5+6j, 55.665)
h = {'name': 'python'}
i = {1,2,3,4}

In [18]:
print(type(a))

<class 'int'>

In [20]:
a = 55.66

print(type(a))

<class 'float'>

In [21]:
print(type(c), type(i))

<class 'complex'> <class 'set'>

In [22]:
a = input()

123

In [23]:
abc = 556.6

In [24]:
print(type(a))

<class 'str'>

In [29]:
b = input(type(b))

<class 'str'>1,2,3

### type conversions

In [30]:
a = int(input())


print(a, type(a))

123
123 <class 'int'>

In [33]:
a = int(input())

pint(a, type(a))

22 33 21

ValueError: invalid literal for int() with base 10: '22 33 21'

In [37]:
a = float(input())

print(a, type(a))

123.336
123.336 <class 'float'>

 ### Number System


 decimal -> 10->0-9
 binary->2->0.1
 octal->8->0.7
 hexadecimal->16->0.F

In [39]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [41]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [42]:
print(ord('a'))

97

In [43]:
print(chr(97))

a

### Operators in python

 - Arthematic operators -> +, -, *, /, %, //, **
 - Logical ->and, or, not
 - comparision /relational -> <, >, <=, >=, ==,!=
 - bitwise operators -> &(and), |(or),-(not),^(xor),>>(right shift), <<(left shift)
 - Assignment operators-> +=, -=, /=,%=,//=,**=
 - Identity operators->
 - membership operators

In [56]:
a = 1
b = 0
c = '0'

print(a and b, a or b, not a, a and c, type(a and c), not c, sep = '->')

0->1->False->0-><class 'str'>->False

In [54]:
print(c and a)

1

In [57]:
a = 5 
b = 6
c = 0

print(a and b)

6

In [58]:
print(a and c, c and a)

0 0

In [59]:
a = 5
b =6

print(a < b, a>b, a == b)

True False False

### Bitwise Operators


  - &, |, ~, ^


 - a = 4
 - b = 10

 - 4  ->0100
 - 10 ->1010
    _____
    0000 ->0 -> and
    1110 ->14 -> or
    
~a
 - 4  -> 0100
      0001

In [60]:
print(a ^ b)

3

### Left shift and Right shift



a = 4 -> 0100

a<<2->010000

a<<2->0001 ->1

In [61]:
a = 4

print(a << 2, a>>2)

16 1

In [62]:
a = 5

a = a +10
print(a)
a += 10
print(a)
a -= 5
print(a)

15
25
20

### Membership Operators

In [64]:
a = 'python'
b = 'py'
c = 'py'

print(a in b, a in c, a not in c)

False False True

### Identity Operators

In [66]:
a = 5
b = 5.5
c = 5
d = [1,2,3]
e = [1,2,3]

In [68]:
print(a == c, d == e)

True True

In [70]:
print(id(a))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

1497785568
1497785568
99981864
19964040
109595656

In [77]:
d.append('python')

print(d)
print(a)

[1, 2, 3, 'python', 'python', 'python', 'python', 'python']
5